<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Nederlandstalige MODX Community{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" href="/assets/modxnl2017/main.css">

    {% block head %}{% endblock %}
</head>
<body>

{% block preheader %}{% endblock %}

<a href="{{ path_for('home') }}" title="Nederlandstalige MODX Community" class="logo">Nederlandstalige MODX Community</a>

<div class="container">
    <section>
        {% block content %}<h1>Oeps, deze pagina is nog leeg.</h1>{% endblock %}
    </section>

    {% block sidebar %}
    <aside>
        <h3>MODX in Nederland & België</h3>
        <ul>
            <li>Foo</li>
            <li>Bar</li>
            <li>Baz</li>
            {% block navigation %}{% endblock %}
        </ul>

        <h3>Meetups</h3>
        <p><a href="https://www.meetup.com/modx-nederland/" target="_blank">Wordt lid van de meetup groep</a> om op de hoogte te blijven van geplande meetups.</p>

        <h4>Binnenkort</h4>
        {% for event in future_events %}
            <li>
                <small class="event-date">{{ event.time|localizeddate('medium', 'short') }} in {{ event.venue.city }}</small>
                <br>
                <a href="{{ event.event_url }}" target="_blank">{{ event.name }}</a>
            </li>
        {% else %}
            <p>Er staan nog geen nieuwe meetups op de planning.</p>
        {% endfor %}

        <h4>Nèt gemist..</h4>
        <ul>
        {% for event in past_events %}
            <li>
                <small class="event-date">{{ event.time|localizeddate('medium', 'short') }} in {{ event.venue.city }}</small>
                <br>
                <a href="{{ event.event_url }}" target="_blank">{{ event.name }}</a>
            </li>
        {% else %}
            <li>Geen oude meetups gevonden.</li>
        {% endfor %}
        </ul>
    </aside>
    {% endblock %}
    <div class="companies">
        <h3>MODX.nl is mede mogelijk gemaakt door</h3>
        <ul>
            <li class="modmore"><a href="https://www.modmore.com/" title="modmore.com" target="_blank">modmore.com</a></li>
        </ul>
    </div>
</div>


{% block footer %}{% endblock %}

{% block js_footer %}{% endblock %}
</body>
</html>