{% extends "base.twig" %}


{% block container %}
    <div class="flex-grid">
        <div class="flex-grid-item double-width" id="block-intro">
            <div class="flex-grid-item-inner">
                <h2>Hallo, MODX!</h2>
                <p>MODX Revolution is een content management platform waarmee je <em>creatieve vrijheid</em> kunt ervaren. Templates zijn jouw domein als designer of developer, en MODX geeft je de vrijheid dat op je eigen manier in te richten. De <a href="https://modx.com/extras/">honderden flexibele uitbreidingen</a> en vriendelijke community helpen je om resultaat te bereiken.</p>
            </div>
        </div>

        <div class="flex-grid-item flex-right flex-button">
            <a href="https://modx.com/download/" target="_blank">Download MODX</a>
        </div>

        <div class="flex-grid-item flex-right flex-button">
            <a href="https://www.meetup.com/modx-nederland/">Aanmelden voor meetups</a>
        </div>

        <div class="flex-grid-item double-height flex-right" id="block-meetups">
            <div class="flex-grid-item-inner">
                <h2>Meetups</h2>
                <p>Leer andere gebruikers kennen en deel ervaringen tijdens MODX Meetups.</p>

                <ul>
                {% for event in future_events %}
                    <li>
                        <small class="event-date">{{ event.time|localizeddate('medium', 'short') }}
                            {% if event.venue is defined %}
                            in {{ event.venue.city }}
                            {% endif %}
                        </small>
                        <br>
                        <a href="{{ event.event_url }}" target="_blank">{{ event.name }}</a>
                    </li>
                {% else %}
                    <li>Er staan geen meetups op de planning.</li>
                {% endfor %}
                </ul>

                <h4>In de buurt</h4>
                <p>Vind je het niet erg om wat verder te reizen? Wereldwijd vinden regelmatig MODX meetups plaats.</p>
                <ul>
                    <li><a href="https://www.meetup.com/MODX-Koeln/">Keulen, Duitsland</a>, om de maand</li>
                    <li><a href="https://www.meetup.com/MODX-Muenchen/">München, Duitsland</a>, om de maand</li>
                    <li><a href="https://www.meetup.com/MODX-Berlin/">Berlijn, Duitsland</a>, ongeveer 2x per jaar</li>
                    <li><a href="https://www.meetup.com/MODX-Meetup-London/">Londen, Verenigd Koninkrijk</a>, jaarlijks</li>
                </ul>
            </div>
        </div>

        <div class="flex-grid-item" id="block-modx-feed">
            <div class="flex-grid-item-inner">
                <h2>Nieuws van MODX</h2>
                <ul class="news-feed">
                {% for item in news_feed %}
                    {% if loop.first %}
                        <li class="news-feed-item news-feed-item-first">
                            <h3><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></h3>
                            <p>{{ item.description }}</p>
                            <p>
                                <a href="{{ item.link }}" target="_blank">Lees verder</a>
                                <span class="news-feed-date">{{ item.pubDate|localizeddate('short', 'none') }}</span>
                            </p>
                        </li>
                    {% else %}
                        <li class="news-feed-item">
                            <span class="news-feed-date">{{ item.pubDate|localizeddate('short', 'none') }}</span>
                            <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>

        <div class="flex-grid-item" id="block-community">
            <div class="flex-grid-item-inner">
                <h2>Belangrijke links</h2>
                <ul>
                    <li><a href="https://modx.com">MODX.com</a></li>
                    <li><a href="https://forums.modx.com">Officiële MODX forum</a>, ook in het <a href="https://forums.modx.com/board/108/dutch">Nederlands</a></li>
                    <li><a href="https://docs.modx.com/">Documentatie</a></li>
                    <li><a href="https://modx.org/">Praat mee op Slack</a></li>
                    <li><a href="https://www.google.com/maps/d/viewer?mid=1VAaaAGRzaKQKDRpdY24a8R9dit0&ll=52.34445173160192%2C6.725895589062475&z=8">MODX bedrijvenkaart Nederland</a></li>
                    <li><a href="https://www.linkedin.com/groups/3910580/profile">MODX Nederland op LinkedIn
                </ul>
            </div>
        </div>

        <div class="flex-grid-item" id="over-modxnl">
            <div class="flex-grid-item-inner">
                <h2>Over MODX.nl</h2>
                <p>MODX.nl is opgezet door <a href="https://github.com/modmore/modx.nl/graphs/contributors">de community</a> als portaal voor Nederlandstalige MODXers.</p>
                <p>Heb je toffe ideeën voor de site? <a href="https://github.com/modmore/modx.nl">Bouw mee op GitHub.</a></p>
            </div>
        </div>

        <div class="flex-grid-item double-width flex-right" id="block-waarom">
            <div class="flex-grid-item-inner">
                <h2>Waarom MODX Revolution?</h2>

                <p>MODX is een flexibel platform dat designers en ontwikkelaars een krachtige basis geeft om een compleet eigen site te bouwen. Er zijn <a href="https://themeforest.net/category/cms-themes/modx-themes" title="MODX Themes">themes</a> beschikbaar, maar verreweg de meeste gebruikers bouwen de sites met eigen HTML, CSS en JavaScript. MODX forceert je niet een bepaalde structuur te gebruiken in je design, en je krijgt controle over elke regel code die MODX teruggeeft. Dit maakt het mogelijk om uiteenlopende sites en applicaties te bouwen.</p>

                <p>Na het opzetten van je templates, custom velden ("Template Variabelen") en <a href="https://modx.com/extras/">uitbreidingen voor extra functionaliteit</a> kan de gebruiker eenvoudig de site beheren via de <em>Manager</em>, het krachtige beheerpaneel van de website. De hiërarchie van de pagina's in de manager gebruik je om de navigatie op de site te genereren, waardoor het ook voor minder technische personen intuïtief werkt. </p>

                <p>MODX heeft ook een ingebouwde multi-site oplossing, <em>Contexten</em> genoemd. Hiermee bouw je eenvoudig compleet verschillende sites in een enkele MODX installatie, wat ook uitermate geschikt is voor meertalige websites.</p>

                <p>Voor ontwikkelaars is er ook veel vrijheid. MODX heeft een krachtige interne API, en gebruikt het xPDO ORM en query builder voor veilige database interactie. Met events is het mogelijk om de MODX core te beïnvloeden waarbij je upgrade path blijft behouden. </p>

                <p>Qua security is MODX ook een goede keuze. Het gebruik van xPDO en andere maatregelen zorgt ervoor dat MODX <a href="https://modx.com/get-modx/security">zelden getroffen wordt door veiligheidsproblemen</a>.</p>
            </div>
        </div>

        <div class="flex-grid-item flex-right" id="revolution-or-evolution">
            <div class="flex-grid-item-inner">
                <h2>Revolution of Evolution</h2>
                <p>Deze site is gericht op MODX Revolution (v2.x).</p>
                <p><a href="https://evo.im/" target="_blank" rel="noopener">Evolution (v1.x)</a> is de originele versie van MODX die in 2005 is uitgebracht. Dankzij de internationale community wordt Evolution nog steeds doorontwikkeld, maar dit is een losstaand project met eigen leiding.</p>
            </div>
        </div>
    </div>
{% endblock %}
